* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
  }
  
  .container {
    text-align: center;
  }
  
  h1 {
    opacity: 0;
    font-size: 4rem;
    margin-bottom: 20px;
  }
  
  h2 {
    opacity: 1;
    font-size: 2rem;
  }